aside.dashboard-menu {
  position: fixed;
  height: 100%;
  padding: 32px 24px;
  background: #15C3D6;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}

aside.dashboard-menu img {
  width: 48px;
}

aside.dashboard-menu .dashboard-options {
  display: flex;
  flex-direction: column;
  
}

aside.dashboard-menu .dashboard-options * + *{
  margin-top: 20px;
}

aside.dashboard-menu a:visited {
  color: inherit;
}

aside.dashboard-menu .active-menu-button,
aside.dashboard-menu .inactive-menu-button {
  padding: 12px;
  border-radius: 16px;

  display: flex;
  justify-content:center;
  align-items: center;
}

aside.dashboard-menu .active-menu-button {
  color: #0089A5;
  background: #FFD666;  
}

aside.dashboard-menu .inactive-menu-button {
  color: #FFFFFF;
  background: #12AFCB;
}

aside.dashboard-menu .dashboard-options a {
  position: relative;
}

.dot-badge {
  width: 8px;
  height: 8px;

  background: #FFD666;
  border-radius: 50%;

  position: absolute;
  top: -10%;
  right: 20%;
  
}
