#page-dashboard-list {
  min-height: 100vh;

  display: flex;
}

#page-dashboard-list main {
  flex: 1;
}

.orphanages-list {
  width: 75%;
  min-width: 700px;
  margin: 64px auto;
  overflow: hidden;
}

.orphanages-list header {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #D3E2E5;


  display: flex;
  justify-content: space-between;
}

.orphanages-list header h1,
.orphanages-list header p {
  display: inline-block;
}

.orphanages-list header h1 {
  color: #4D6F80;
  font-size: 32px;
  line-height: 34px;
}

.orphanages-list header p {
  color: #8FA7B2;
}

.orphanages-list-content {
  width: 100%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

